<aside>
  
  <%= form_tag search_results_path, method: :get do %>
   <h1>Search By Keyword</h1>
  
      <%= text_field_tag :search_keywords %>
      <%=submit_tag 'Search' %>
 
   <h1>Search By Category</h1>
  
   <%= select_tag(:category_id, options_for_select([['All',-1],['Soaps', 5], ['Skin Care', 2], ['Shaving Care', 7],['Accessories', 6],['Bath Products', 4],
                                                                                                                                                 
                  ['Hair Care', 3]])) %>
   
   <%end%>
 </aside>