<header>     
  <h1>Bath & Co.</h1>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%=link_to 'Admin', admin_root_path %></li>
      </ul>
    </nav>
</header>