// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$shadow:#4d4d4d;
$my_shade_of_gray:#e6e6e6;
$light_gray_back:#4d4d4d;
$black: #000000;

    .body{
         background: #D2C3C0;   
    }
#container-fluid {    
    width :90%;  
    margin :5px auto;
    padding: 1em;  
    
    header{
        background: #e9e2dd;       
        border-radius:2em ;      
        box-shadow: .1em .1em .4em $black, -.1em -.1em .3em $black;
        height:215px;
        
        h1{
            width:50%;           
            margin: 0px auto;            
            color: #8F0047;            
            font:bold 6.2em 'century', serif;
            text-shadow:1px 1px 5px $shadow, 0px 0px 2px black;	
        }
        
        nav{
            width:99%;          
            margin: 0px auto;
            background:#c6c0bc;
            border-radius:2em ;             
             .nav{               
                border-radius:2em ;
                box-shadow:1px 1px 1px $light_gray_back, -1px -1px 1px $light_gray_back;
           
                li{            
                 margin:0px 5px;              
                    a{
                      color:#8F0047;
                      text-decoration: none;
                      text-shadow:1px 1px 1px $shadow;	
                    }
                     a:hover{
                        color:black;           
                        transition:.75s;
                     }
                }
            
            }
        }      
    }
    /*#paginate{
       color:black;
    }*/
    #search_aside{
         position:relative;
         border-radius:2em ;
         background:#E0EFEA ;
         padding:10px;     
         width:23%;
         box-shadow: 1px 1px 1px $black, -1px -1px 1px $black;
     input{
          margin:5px;
     }
   
    }

    .product:last-of-type{clear:right;}
    
    .product{
      p{
        margin-left:10px;
      }
        border-radius:2em ;
        background:#ece6da;
      
        width:70%;
    
        float:right;
        margin:1em;
        box-shadow: .1em .1em .4em $black, -.1em -.1em .3em $black;    
        
        h2 a{
            margin-top:1em;
            margin-left:.2em;
            color: #8F0047;   
            font:bold 3em;
            text-shadow:1px 1px 1px $shadow;	
        }
        .pull-right{           
            border-radius:2em ;
            width:60%;
            background: #e9e2dd;            
            padding:15px;
            margin-top:-4em;        
            margin-right:3em;
           
        }
        img{
            margin-top:1em;
            margin-left:1em;
            border:1px solid $black;
            border-radius:2em ;          
            box-shadow: .1em .1em .4em $black, -.1em -.1em .3em $black;
        }
      
        .price{
            margin:1em;
            font:bold 22px arial;
        }       
    }
    #oneProduct{
        .product{
            float:right;
            width:70%;
        }
        
    }
    
   
    #my_products {     
       margin:1em;
       border: 1px solid black;
       border-radius:2em ;
       background:#E0EFEA ;
       padding:10px;     
       width:23%;
      /* height:300px;*/
       box-shadow: 1px 1px 1px $black, -1px -1px 1px $black;
          ul{
            list-style: none;
               li{
                 margin-left:-28px;
               }
           }
     }
     
   
   
 
     footer{
          margin-top:15em;
       clear:both;
         width:100%;
        
       nav{
         ul{
          li{
            margin:2px;
            padding:2px;
               a{
                 color:#8F0047;
                 text-shadow:1px 1px 1px $shadow;	
               }
                 a:hover{
                     color:black;
                     transition:.40s;
                 }
           }
          }
       }   
     }
     
     .form-horizontal{
          width:70%;
          margin-left:12px;
          label{
               margin-top:10px;
              margin-left:15px;
              width:160px;height:30px;
              border-radius:2px;
          }
          input{width:300px; margin-left:32px; padding: 5px;
          margin-top :10px;}
              
              #prov{margin:5px;}
         select{width :130px; margin-left: 40px;}
         
         
         
     }
}










