// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$shadow:#4d4d4d;
$my_shade_of_gray:#e6e6e6;
$light_gray_back:#4d4d4d;
$black: #000000;

body{
         background: #D2C3C0;   
    }
    
.container-fluid {     
     background: #D2C3C0;      
    
    header{
        background: #e9e2dd;       
        border-radius:2em ;      
        box-shadow: .1em .1em .4em $black, -.1em -.1em .3em $black;      
        
        h1{
            width:50%;           
            margin: 0px auto;            
            color: #8F0047;            
            font:bold 6.2em 'century', serif;
            text-shadow:1px 1px 5px $shadow, 0px 0px 2px black;	
        }
        
        nav{
            width:99%;          
            margin: 0px auto;
            background:#c6c0bc;
            border-radius:2em ;             
             .nav{               
                border-radius:2em ;
                box-shadow:1px 1px 1px $light_gray_back, -1px -1px 1px $light_gray_back;
           
                li{            
                 margin:0px 5px;              
                    a{
                      color:#8F0047;
                      text-decoration: none;
                      text-shadow:1px 1px 1px $shadow;	
                    }
                     a:hover{
                        color:black;           
                        transition:.75s;
                     }
                }
            
            }
        }      
    }
  
    #search_aside{     
         border-radius:2em ;
         background:#E0EFEA ;
         padding:10px;
         margin:10px;
         box-shadow: 1px 1px 1px $black, -1px -1px 1px $black;
          input{
               margin:5px;
          }
   
    }

    .product:last-of-type{clear:right;}
    
    .product{ 
      p{
        margin-left:15px;
       
      }
        border-radius:2em ;
        background:#ece6da;        
        margin:1em;
        box-shadow: .1em .1em .4em $black, -.1em -.1em .3em $black;    
        
        h2 a{
              margin:12px;
            color: #8F0047;   
            font:bold 3em;
            text-shadow:1px 1px 1px $shadow;	
        }
     .description{           
            border-radius:2em ;
            width:50%;
            background: #e9e2dd;            
            padding:15px;    
           
        }
        img{
            margin-top:1em;
            margin-left:1em;
            border:1px solid $black;
            border-radius:2em ;          
            box-shadow: .1em .1em .4em $black, -.1em -.1em .3em $black;
        }      
        .price{
            margin:1em;
            font:bold 22px arial;
        }       
    }
    #oneProduct{
        .product{
            float:right;         
        }        
    }   
    #my_products {     
       border-radius:2em ;
       background:#E0EFEA ;
       padding:10px;      
       box-shadow: 1px 1px 1px $black, -1px -1px 1px $black;
          ul{
            list-style: none;
               li{
                 margin-left:-28px;
               }
           }
     } 
     footer{
         
       nav{
         ul{
         /* border:2px solid red;*/
          li{
            margin:8px;
            padding:5px;
               a{
                 color:#8F0047;
                 text-shadow:1px 1px 1px $shadow;	
               }
                 a:hover{
                     color:black;
                     transition:.40s;
                 }
           }
          }
       }   
     }
   
    .form-group{
         margin-top:3em;
         width:90%;
         margin-left:2em;
         
         .btn{background:gray; border:1px solid black; box-shadow:1px 1px 1px black;}
    }
   
}










