
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product%></li>
      <li><%= product.price.to_f%></li>
      <li><%= product.description%></li>
     
    <%end%>
  </ul>

