<section>
<h1>Listing products</h1>


 <h1>Visited this page <small><%= pluralize(@visit_count, 'time' )%></small></h1>
 <p><%= link_to 'forget me', forget_path %></p>
 
 
 <%= render @products %>
 </section>
 
 <section>
  <p id = 'paginate'><%= paginate @products %></p>
 
</section>


 