
 <h1><%= @page_title %></h1>
 
 <% if @products.size.zero? %>
   <p>No products found</p></p>
   <%else%>
   <p><%= pluralize(@products.size, 'product') %> Products Found</p>
 <%= render @products %>
<%end%>
 



 